/* *,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
} */

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 0.875rem;
  color: #ffffff;
  background: #181b26;
}

.coin-container,
.portfolio-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: row;
  background: #2a3143;
  border-top: #ffad00;
  margin: 2px;
  padding: 5px;
  height: 50px;
}

.coin-container:hover {
  transform: scale(1.01);
  transition: 0.2s ease-in-out;
  background-color: #343f56;
  cursor: pointer;
}

.description-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  background: #2a3143;
}

.description-container a {
  text-decoration: underline;
}

.description-container a:visited {
  color: #ffad00;
}

/* .portfolio-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: row;
  background: #2a3143;
  border-top: #ffad00;
  margin: 2px;
  padding: 5px;
  height: 50px;
} */

.crypto-icon {
  width: 25px;
}

.input-crypto-icon {
  width: 20px;
}

.desc-icon {
  width: 100px;
}

a .star-icon {
  fill: #ffffff;
  opacity: 0.5;
}

.star-icon:hover {
  fill: #ffad00;
  opacity: 1;
}

.star-icon-fill {
  color: #ffad00;
  fill: #ffad00;
}

.header {
  text-align: center;
  font-size: 30px;
  color: #ffffff;
}

.header-icon {
  text-shadow: #ffad00 1px 0 10px;
  color: #810081;
}

a {
  color: #ffffff;
  text-decoration: none;
}

.nav-links {
  color: #ffffff;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
  list-style-type: none;
  margin-bottom: 40px;
}

.nav-links a:hover,
.modal-link:hover {
  color: #ffad00;
  color: #49c0be;
  text-decoration: underline;
  text-decoration-thickness: 2px;
  text-underline-offset: 1rem;
}

.sign-up-link-text {
  color: #49c0be;
  cursor: pointer;
  text-decoration: underline;
  padding: 5px;
}

.sign-up-link-text:hover {
  color: #ffad00;
}

.modal-link:hover {
  cursor: pointer;
}

.search-input {
  width: 500px;
  background-color: #2a3143;
  border-radius: 5px 5px;
  height: 1.4375em;
  padding: 16.5px 14px;
  padding-left: 5px;
  color: #ffffff;
  margin-bottom: 20px;
  border-width: 0em;
  font-size: 16px;
}

.portfolio-search-input {
  width: 300px;
  background-color: #2a3143;
  border-radius: 5px 5px;
  height: 1.4375em;
  padding: 16.5px 14px;
  padding-left: 5px;
  color: #ffffff;
  margin-bottom: 20px;
  border-width: 0em;
  font-size: 16px;
}

.input-coin:hover {
  cursor: pointer;
}

.search-icon {
  background-color: #ffad00;
  width: 30px;
  height: 55px;
  opacity: 0.8;
  border-radius: 5px 0px 0px 5px;
}

.search-bar {
  display: flex;
  justify-content: center;
}

::placeholder {
  color: #ffffff;
  opacity: 0.5;
  padding: 5px;
  font-size: 16px;
}

.twenty-four-hours-red {
  color: #ff7060;
}

.twenty-four-hours-green {
  color: #27da71;
}

.sign-up-button {
  background-color: #48c1be;
  color: #2a3143;
  border: none;
  border-radius: 5px;
  width: 70px;
  height: 25px;
  transition: ease-out 0.3s;
  outline: none;
  cursor: pointer;
}

.add-coin-button,
.login-button,
.modify-button {
  background-color: #48c1be;
  color: #2a3143;
  font-size: 14px;
  border: none;
  border-radius: 5px;
  width: 100px;
  height: 40px;
  transition: ease-out 0.3s;
  outline: none;
  cursor: pointer;
}

.delete-coin-button {
  background-color: #dd143c;
  color: #ffffff;
  font-size: 14px;
  border: none;
  border-radius: 5px;
  width: 100px;
  height: 40px;
  transition: ease-out 0.3s;
  outline: none;
  cursor: pointer;
}

.add-coin-button:hover,
.sign-up-button:hover,
.login-button:hover,
.modify-button:hover {
  background-color: #384d61;
  color: #48c1be;
  border: 1px solid;
}

.delete-coin-button:hover {
  background-color: #384d61;
  color: #dd143c;
  border: 1px solid;
}

/* .login-container {
  background: #2a3143;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
} */

.edit-coin {
  background-color: #384d61;
  color: #48c1be;
  /* border: 1px solid; */
  border: none;
  cursor: pointer;
}

label {
  display: inline-block;
  width: 130px;
  padding: 5px;
  margin: 10px;
}

.login-password-input,
.login-email-input,
.modify-name-input,
.modify-email-input,
.modify-password-input,
.sign-up-name-input,
.sign-up-password-input,
.sign-up-email-input {
  width: 220px;
  height: 30px;
  border-radius: 5px 0px 0px 5px;
  background: #2a3143;
  border-width: 0em;
}

.Toastify__toast-container--top-center {
  --toastify-toast-width: 370px;
  --toastify-toast-background: #fff;
  --toastify-toast-min-height: 80px;
  --toastify-toast-max-height: 100px;
  --toastify-font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  --toastify-text-color-light: #757575;
  --toastify-text-color-dark: #fff;
  --toastify-setMaxToast: limit(1);
}

@media (max-width: 600px) {
  .nav-links {
    display: flex;
    text-decoration: none;
    align-items: center;
    justify-content: center;
    gap: 20px;
  }
  .search-input {
    width: 300px;
    background-color: #2a3143;
    border-radius: 5px 5px;
  }
}
