/* *,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
} */

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 0.875rem;
  color: #ffffff;
  background: #181b26;
}

.coin-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: row;
  background: #2a3143;
  border-top: #ffad00;
  margin: 2px;
  padding: 5px;
  height: 50px;
}

.coin-container:hover {
  transform: scale(1.01);
  transition: 0.2s ease-in-out;
  background-color: #343f56;
  cursor: pointer;
}

.description-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  background: #2a3143;
}

.crypto-icon {
  width: 25px;
}

.desc-icon {
  width: 100px;
}

.star-icon {
  fill: #ffffff;
  opacity: 0.5;
}

.star-icon:hover {
  fill: #ffad00;
  opacity: 1;
}

.header {
  text-align: center;
}

a {
  color: #ffffff;
}

a:visited {
  color: #ffad00;
}

ul {
  text-decoration: none;
}
